[Unit]
Description=Sysrepo YANG configuration storage and management
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/sysrepod
PIDFile=/var/run/sysrepod.pid
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=yes
ProtectHome=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
