[Unit]
Description=Sysrepo plugin daemon
#After=

[Service]
Type=notify
ExecStart=/usr/bin/sysrepo-plugind -v2
Restart=always
SystemCallArchitectures=native
KillMode=control-group

[Install]
WantedBy=multi-user.target
