#!/usr/bin/make -f
#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

include /usr/share/dpkg/default.mk

# determine number of processors to enable parallel tests
NPROCS:=$(shell grep -c ^processor /proc/cpuinfo)

%:
	dh $@ -j

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE:String="RelWithDebInfo" \
		-DSYSREPO_UMASK=007 \
		-DSYSREPO_GROUP=sysrepo \
		-DNACM_SRMON_DATA_PERM=660

override_dh_auto_test:
	make -C obj-$(DEB_HOST_GNU_TYPE) test ARGS=' -j $(NPROCS) -V'
	make -C obj-$(DEB_HOST_GNU_TYPE) test_clean
